ENV=staging
FIREBASE_CONVERSATIONS_PATH=conversations
API_BASE_URL=https://staging-api.example.com/api/v1/app
PUSHER_CLUSTER=
PUSHER_API_KEY=
PUSHER_AUTH_ENDPOINT=https://staging-api.example.com/broadcasting/auth
APP_DEBUG=true
