ENV=production
FIREBASE_CONVERSATIONS_PATH=conversations
API_BASE_URL=https://api.example.com/api/v1/app
PUSHER_CLUSTER=
PUSHER_API_KEY=
PUSHER_AUTH_ENDPOINT=https://api.example.com/broadcasting/auth
APP_DEBUG=false
